* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.form-wrp {
  width: 500px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 8px;
  margin-top: 50px;
}

.form-grp {
  margin-bottom: 24px;
}

input {
  height: 44px;
  width: 100%;
  padding-left: 15px;
}

.btn-wrp {
  display: flex;
  justify-content: end;
}

.btn {
  height: 36px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.prof-page {
  background-color: #f2f2f2;
  width: 500px;
  margin: auto;
  margin-top: 24px;
  padding: 20px;
}

.row {
  margin-bottom: 16px;
}

.row span {
  margin-left: 16px;
}